<h1>Front page</h1>

<% if user_signed_in? %>
	<p>Welcome, <%= current_user.email %></p>
	<%= form_with url: destroy_user_session_path, method: :delete do |form| %>
		<%= form.submit 'Log Out' %>
	<% end %>
<% else %>
    <%= link_to "login", new_user_session_path %>
<% end %>
